# Dependencies
/node_modules
/apps/web/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
tests/output/*

# Build output
/dist
/apps/web/.next
/apps/web/out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

apps/web/next-env.d.ts

# TypeScript
*.tsbuildinfo

# Temporary files
*.tmp
*.temp

tests/temp/*


memo.md
memo
memo.txt
.aider*
